:root {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-grey-color);
  color-scheme: light dark;
  background-color: var(--primary-background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root::-webkit-scrollbar {
  display: none;
}
